{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Page</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/theme.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class='w3-text-theme'>
    <div id="loader-modal" class="w3-modal">
        <div class="w3-modal-content" style="width:60px; height:50px; padding-top:5px">
            <center>
                <div class='loader'></div>
            </center>
        </div>
    </div>

    </div>
    <div class='w3-theme w3-padding w3-xlarge'>
        Send mass emails with attachments
    </div>
    <div class='w3-content w3-padding-32 w3-light-gray' style='max-width:800px'>
        <div id='selectEmailColumn' class='w3-padding-32'>
            <div class='w3-padding'>
                <label for="emailColumn" class='w3-padding w3-large w3-text-theme'> Select Email column </label>
                <div class='w3-bar'>
                    <div class='w3-bar-item'>
                        <select type="text" id='emailColumn' placeholder="Column name..." class='w3-input w3-border ' style='width:300px'>
                            <option value="" selected disabled>Select Email Column</option>
                            {% for column in columns %}
                                <option value="{{ column }}">{{ column }}</option>
                            {% endfor %}
                        
                        </select>
                    </div>
                    <div class='w3-bar-item'>
                        <button class='w3-theme w3-button kel-hover w3-round' title='select column' onclick="selectEmailColumn()"> <i class='fa fa-check'></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border-bottom: 1px solid black;">
        <div class='w3-center w3-xlarge w3-text-theme'>Email Content</div>
        <form id='content'>{% csrf_token %}</form>
        <div class='w3-padding-16'></div>
    </div>
    <script src="{% static 'Js/commen.js' %}"></script>
    <script src="{% static 'Js/emailSendPage.js' %}"></script>
</body>
</html>